* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#root {
  background-color: hsl(216, 12%, 8%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review {
  background-color: hsl(213, 19%, 18%);
  width: 375px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 8%;
  gap: 15px;
}
h1 {
  color: white;
  font-family: "Overpass", sans-serif;
}
p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 12%, 54%);
  font-family: "Overpass", sans-serif;
}
.desc {
}
#star {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  padding: 12px;
}
.rating-row {
  display: flex;
  justify-content: space-evenly;
}
.circle {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 180ms;
}
.circle:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.submit {
  background-color: hsl(25, 97%, 53%);
  padding: 15px;
  border-radius: 40px;

  /* border-top-left-radius: 50%; */
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  transition-duration: 150ms;
}
.submit:hover {
  cursor: pointer;
  color: hsl(25, 97%, 53%);
  background-color: white;
}
.clicked {
  background-color: hsl(217, 12%, 63%);
  color: white;
}
.thanks {
  align-items: center;
}
.thanks > p:first-of-type {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 25%);
  padding: 8px;
  border-radius: 40px;
  text-align: center;
}
#thanks-img {
  width: 150px;
  align-self: center;
}
.thanks-msg {
  text-align: center;
  line-height: 160%;
}
